.swiper-container
  width 800px
  height 200px
  border 1px solid red
  overflow hidden
  position relative
  .swiper-wrapper
    width 2400px
    .swiper-slide
      float left
      width 300px
      height 200px
      img
        width 100%
  .swiper-pagination
    width 200px
    height 20px
    position absolute
    z-index 999
    bottom 10px
    left 50%
    transform translateX(-50%)
    span
      display inline-block
      width 5px
      height 5px
      background aqua
  .swiper-button-next
    position absolute
    bottom 10px
    left 50%


